FinallProject_/MvcProject/Service References/BuyNet/FinallProject_.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/FinallProject_" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FinallProject_" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="First_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Images" nillable="true" type="tns:ArrayOfImages" />
      <xs:element minOccurs="0" name="Last_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Order" nillable="true" type="tns:ArrayOfOrder" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:ArrayOfProduct" />
      <xs:element minOccurs="0" name="Street_number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zip_Code" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfImages">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Images" nillable="true" type="tns:Images" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImages" nillable="true" type="tns:ArrayOfImages" />
  <xs:complexType name="Images">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
      <xs:element minOccurs="0" name="ProductId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="img" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Images" nillable="true" type="tns:Images" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="tns:Category" />
      <xs:element minOccurs="0" name="CategoryId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Condition" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Images" nillable="true" type="tns:ArrayOfImages" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderProduct" nillable="true" type="tns:ArrayOfOrderProduct" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Rate" type="xs:int" />
      <xs:element minOccurs="0" name="SellerId" type="xs:int" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parent" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ParentCategory" nillable="true" type="tns:Category" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:ArrayOfProduct" />
      <xs:element minOccurs="0" name="SubCategoryCategory" nillable="true" type="tns:ArrayOfCategory" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="ArrayOfCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategory" nillable="true" type="tns:ArrayOfCategory" />
  <xs:complexType name="ArrayOfOrderProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderProduct" nillable="true" type="tns:OrderProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderProduct" nillable="true" type="tns:ArrayOfOrderProduct" />
  <xs:complexType name="OrderProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Order" nillable="true" type="tns:Order" />
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
      <xs:element minOccurs="0" name="PriceAtPayment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="Quentity" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="OrderProduct" nillable="true" type="tns:OrderProduct" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuyerId" type="xs:int" />
      <xs:element minOccurs="0" name="DateOfPayment" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="OrderProduct" nillable="true" type="tns:ArrayOfOrderProduct" />
      <xs:element minOccurs="0" name="Shipping_Company" nillable="true" type="tns:Shipping_Company" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="shippingId" nillable="true" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="Shipping_Company">
    <xs:sequence>
      <xs:element minOccurs="0" name="Company_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Delivery_Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Order" nillable="true" type="tns:ArrayOfOrder" />
      <xs:element minOccurs="0" name="Shipping_Cost" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Shipping_Company" nillable="true" type="tns:Shipping_Company" />
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="ArrayOfShipping_Company">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Shipping_Company" nillable="true" type="tns:Shipping_Company" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShipping_Company" nillable="true" type="tns:ArrayOfShipping_Company" />
</xs:schema>