FinallProject_/MvcProject/Service References/BuyNet/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/FinallProject_" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Delete_User_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_User" />
  </wsdl:message>
  <wsdl:message name="IService1_Delete_User_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_UserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Edit_User_InputMessage">
    <wsdl:part name="parameters" element="tns:Edit_User" />
  </wsdl:message>
  <wsdl:message name="IService1_Edit_User_OutputMessage">
    <wsdl:part name="parameters" element="tns:Edit_UserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategory" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SubCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:SubCategory" />
  </wsdl:message>
  <wsdl:message name="IService1_SubCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SubCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:SubCategories" />
  </wsdl:message>
  <wsdl:message name="IService1_SubCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProduct" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProducts" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOrderProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderProduct" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOrderProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderProductResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOrderProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderProducts" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOrderProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrder" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrders" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetImage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImage" />
  </wsdl:message>
  <wsdl:message name="IService1_GetImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetImages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImages" />
  </wsdl:message>
  <wsdl:message name="IService1_GetImages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImagesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetShipping_Company_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShipping_Company" />
  </wsdl:message>
  <wsdl:message name="IService1_GetShipping_Company_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShipping_CompanyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetShipping_Companys_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShipping_Companys" />
  </wsdl:message>
  <wsdl:message name="IService1_GetShipping_Companys_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShipping_CompanysResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUser" message="tns:IService1_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserResponse" message="tns:IService1_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_User">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Delete_User" message="tns:IService1_Delete_User_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Delete_UserResponse" message="tns:IService1_Delete_User_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Edit_User">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Edit_User" message="tns:IService1_Edit_User_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Edit_UserResponse" message="tns:IService1_Edit_User_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCategory" message="tns:IService1_GetCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCategoryResponse" message="tns:IService1_GetCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCategories" message="tns:IService1_GetCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCategoriesResponse" message="tns:IService1_GetCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SubCategory" message="tns:IService1_SubCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SubCategoryResponse" message="tns:IService1_SubCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SubCategories" message="tns:IService1_SubCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SubCategoriesResponse" message="tns:IService1_SubCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetProduct" message="tns:IService1_GetProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetProductResponse" message="tns:IService1_GetProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetProducts" message="tns:IService1_GetProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetProductsResponse" message="tns:IService1_GetProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetOrderProduct" message="tns:IService1_GetOrderProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetOrderProductResponse" message="tns:IService1_GetOrderProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetOrderProducts" message="tns:IService1_GetOrderProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetOrderProductsResponse" message="tns:IService1_GetOrderProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetOrder" message="tns:IService1_GetOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetOrderResponse" message="tns:IService1_GetOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetOrders" message="tns:IService1_GetOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetOrdersResponse" message="tns:IService1_GetOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetImage" message="tns:IService1_GetImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetImageResponse" message="tns:IService1_GetImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImages">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetImages" message="tns:IService1_GetImages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetImagesResponse" message="tns:IService1_GetImages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShipping_Company">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetShipping_Company" message="tns:IService1_GetShipping_Company_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetShipping_CompanyResponse" message="tns:IService1_GetShipping_Company_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShipping_Companys">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetShipping_Companys" message="tns:IService1_GetShipping_Companys_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetShipping_CompanysResponse" message="tns:IService1_GetShipping_Companys_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_User">
      <soap:operation soapAction="http://tempuri.org/IService1/Delete_User" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Edit_User">
      <soap:operation soapAction="http://tempuri.org/IService1/Edit_User" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategory">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubCategory">
      <soap:operation soapAction="http://tempuri.org/IService1/SubCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubCategories">
      <soap:operation soapAction="http://tempuri.org/IService1/SubCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProduct">
      <soap:operation soapAction="http://tempuri.org/IService1/GetProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <soap:operation soapAction="http://tempuri.org/IService1/GetProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderProduct">
      <soap:operation soapAction="http://tempuri.org/IService1/GetOrderProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderProducts">
      <soap:operation soapAction="http://tempuri.org/IService1/GetOrderProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <soap:operation soapAction="http://tempuri.org/IService1/GetOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <soap:operation soapAction="http://tempuri.org/IService1/GetOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <soap:operation soapAction="http://tempuri.org/IService1/GetImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImages">
      <soap:operation soapAction="http://tempuri.org/IService1/GetImages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShipping_Company">
      <soap:operation soapAction="http://tempuri.org/IService1/GetShipping_Company" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShipping_Companys">
      <soap:operation soapAction="http://tempuri.org/IService1/GetShipping_Companys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/FinallProject_/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>